<h2>Por región</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <button *ngFor="let region of regions"
      class="btn mx-2 mt-1"
      [ngClass]="{
        'btn-outline-dark': selectedRegion === region
      }"
      (click)="searchByRegion(region)"
      [value]="selectedRegion">
      {{region}}
    </button>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries" ></countries-table>
  </div>
</div>
